/* ---------- 自我介紹 ---------- */

.my-pic{
  width: 20%;
  padding-top: 80px;
  padding-right: 40px;
  
}
.my-pic:before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 46%;
  right: 8%;
  width: 88%;
  height: 40%;
  border-radius: 16px;
  background-color: #bed1c6;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.1);
}

.my-pic img{
  border-radius: 16px;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.1);
}
.my-text{
  width: 78%;
  padding-top: 80px;
}
.my-text h5{
  color: #bed1c6;
}
.my-text ul{
  padding: 24px 0;
}
.my-text ul li{
  list-style-type: none;
  font-size: 1.6em;
  line-height: 1.6em;
  padding-left: 1.4em;
  margin: 0;
}
.my-text ul li:before{
  content: '\f0eb';
  color: #bed1c6;
  margin-left: -1.4em;
  padding-right: 0.4em;
}

.row-center.pic img{width: 60%; padding-bottom: 8px;}

/* ---------- end 自我介紹 ---------- */



/* ---------- 工作經歷輪播 ---------- */

.time-line h1{
  position: absolute;
  top: 48px;
  width: 100%;
  max-width: 1200px;
  font-size: 40px;
  color: #fff;
}

.controls {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9;
}
.controls:hover:after {
  transform: translateX(-10px) rotate(45deg);
}
.controls:hover:active:after {
  transform: translateX(-20px) rotate(45deg);
  transition: 300ms all;
}
.controls:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transition: 500ms all;
}
.controls.next {
  left: auto;
  right: 120px;
  transform: rotate(180deg);
}

.time-line {
  width: 100%;
  height: 740px;
  background-color: #bed1c6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  overflow: hidden;
  bottom: 0;
}
.time-line * {
  transition: 800ms all cubic-bezier(0.23, 1, 0.32, 1);
}
.time-line .dates-overflow {
  left: 0;
  width: 500vw;
  position: absolute;
  bottom: 50px;
  height: 50px;
  padding-bottom: 100px;
}
.time-line .dates-wrap {
  display: inline-block;
  position: absolute;
  height: 100%;
  left: calc(50vw - 80px);
}
.time-line .dates-wrap:before, .time-line .dates-wrap:after {
  content: "";
  position: absolute;
  width: 160px;
  height: 100%;
  left: -1px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right,rgba(190, 209, 198)  0%, rgba(190, 209, 198, 0) 100%);
  z-index: 2;
}
.time-line .dates-wrap:after {
  left: auto;
  right: -1px;
  background: linear-gradient(to left, rgba(190, 209, 198) 0%, rgba(190, 209, 198, 0) 100%);
  transform: translate(50%, -50%);
}
.time-line .dates-wrap .date {
  width: 160px;
  position: relative;
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 800ms all cubic-bezier(0.23, 1, 0.32, 1);
}
.time-line .dates-wrap .date .date-content {
  visibility: hidden;
  position: absolute;
  width: 900px;
  height: 410px;
  bottom: 100%;
  margin-bottom: 40px;
  border-radius: 3px;
  transform-origin: 50% 100%;
  transform: scale(0.7);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
}
.time-line .dates-wrap .date .date-content:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  top: 88%;
  /* top: 100%; */
  margin-top: 8px;
  height: 60px;
  opacity: 0;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: 800ms all cubic-bezier(0.23, 1, 0.32, 1);
}
.time-line .dates-wrap .date .date-content .date-work {
  width: 100%;
  height: calc(100% - 60px);
}

.time-line .dates-wrap .date .date-content > div {
  opacity: 0;
  transform: translateY(40px);
}
.time-line .dates-wrap .date .date-content .date-text {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #bed1c6;
  padding-bottom: 2px;
}
.time-line .dates-wrap .date .date-content .date-text:before{
  content: '\f276';
  font-weight: bold;
  font-size: 28px;
  padding-right: 4px;
}
.time-line .dates-wrap .date .date-content .date-text:after{
  content: '';
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translate(-50%, 0); 
  width: 100%; 
  height: 2px; 
  background-color:#bed1c6; 
  z-index: -1;
}


/* ---------- 工作介紹 ---------- */

.time{
  font-size: 16px;
  font-weight: bold;
  padding-top: 4px;
  color:#bed1c6; 
}

.work-title{
  font-size: 20px;
  font-weight: bold;
  padding-top: 16px;
}
.description{
  font-size: 14px;
}
.description ul li{
  list-style-type: disc;
  margin-left: 1.5em;
}

.description .link{
  font-size: 1.2em;
  text-align: left;
  margin-left:8px;
}

.description .link a{
  padding: 8px 24px ;
  border: 1px solid #707070;
  margin:16px 16px 0px 0px;
}


/* ---------- end 工作介紹 ---------- */



.time-line .dates-wrap .date .date-year {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.time-line .dates-wrap .date .date-year:hover {
  opacity: 1 !important;
}
.time-line .dates-wrap .date .date-year:hover:after {
  transform: scale(1) !important;
}
.time-line .dates-wrap .date .date-year p {
  position: absolute;
  top: 35px;
  line-height: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  transform: scale(0.4);
  z-index: 2;
}
.time-line .dates-wrap .date .date-year i{
  position: absolute;
  top: 35px;
  line-height: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  transform: scale(0.4);
  z-index: 2;
}

.time-line .dates-wrap .date .date-year:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  bottom: 100%;
  margin-bottom: -7px;
  border-radius: 50%;
  transform: scale(0.4);
  transition: 500ms all;
}
.time-line .dates-wrap .date .date-year:before {
  content: "";
  position: absolute;
  top: 0;
  width: 200%;
  height: 1px;
  background-color: #fff;
}
.time-line .dates-wrap .date.sibling .date-year {
  opacity: 0.6;
}
.time-line .dates-wrap .date.sibling .date-year:after {
  transform: scale(0.8);
}
.time-line .dates-wrap .date.sibling .date-year p {
  transform: scale(0.6);
}
.time-line .dates-wrap .date.sibling .date-year i{
  transform: scale(0.6);
}
.time-line .dates-wrap .date.active + .date .date-year {
  opacity: 0.6;
}
.time-line .dates-wrap .date.active + .date .date-year:after {
  transform: scale(0.8);
}
.time-line .dates-wrap .date.active + .date .date-year p {
  transform: scale(0.4);
}
.time-line .dates-wrap .date.active + .date .date-year i {
  transform: scale(0.4);
}

.time-line .dates-wrap .date.active .date-year {
  opacity: 1;
}
.time-line .dates-wrap .date.active .date-year:before {
  width: calc(200% - 11px);
}
.time-line .dates-wrap .date.active .date-year:after {
  transform: scale(1);
}
.time-line .dates-wrap .date.active .date-year p {
  transform: scale(1);
}
.time-line .dates-wrap .date.active .date-year i{
   transform: scale(1);
}

.time-line .dates-wrap .date.active .date-content {
  transform: scale(1);
  visibility: visible;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  border-radius: 16px;
  z-index: 9;
}

.time-line .dates-wrap .date.active .date-content:after {
  transition-delay: 200ms;
  opacity: 1;
  transform: scaleY(1);
}
.time-line .dates-wrap .date.active .date-content div {
  transition-delay: 200ms;
  opacity: 1;
  transform: translateY(0px) scale(1);
}


/* ---------- end 工作經歷輪播 ---------- */




/* $ maxPC
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1920px){

}

/* $iPad pro
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1365px){

  /* ---------- 自我介紹 ---------- */

.my-pic{
  width: 32%;
  padding-top: 80px;
  padding-right: 40px;
  
}
.my-pic:before{
  bottom: 42%;
  right: 8%;
  width: 88%;
  height: 42%;
}

.my-pic img{
  border-radius: 16px;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.1);
}
.my-text{
  width: 68%;
  padding-top: 80px;
}
.my-text h5{
  color: #bed1c6;
}

/* ---------- end 自我介紹 ---------- */

/* ---------- 工作經歷輪播 ---------- */

.time-line h1{
  max-width: 900px;
  font-size: 32px;
}
.controls {
  left: 80px;
}
.controls.next{
  right: 80px;
}


/* ---------- end 工作經歷輪播 ---------- */

}



/* $iPad
--------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px){

/* ---------- 自我介紹 ---------- */

.my-pic{
  width: 40%;
  padding-top: 80px;
  padding-right: 0;
  
}
.my-pic:before{
  bottom: -4%;
  right: -8%;
  width: 100%;
  height: 76%;
}
.my-text{
  width: 100%;
  padding-top: 60px;
}

/* ---------- end 自我介紹 ---------- */

/* ---------- 工作經歷輪播 ---------- */

.time-line h1{
  max-width: 700px;
  font-size: 32px;
}
.controls {
  left: 24px;
}
.controls.next{
  right: 24px;
}


/* ---------- end 工作經歷輪播 ---------- */


}



/* $Mobile
--------------------------------------------------------------------------------------*/
@media screen and (max-width:767px){
	
/* ---------- 自我介紹 ---------- */

.my-pic{
  width: 50%;
  padding-top: 80px;
  padding-right: 0;
  
}
.my-pic:before{
  bottom: -2%;
  right: -6%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.my-pic img{
  border-radius: 100px;
}
.my-text{
  width: 100%;
  padding-top: 32px;
  padding-bottom: 40px;
}

.my-text ul{
  padding: 16px 0;
}
.my-text ul li{
  font-size: 0.8em;
  padding-left: 1.4em;
}
.my-text ul li:before{
  margin-left: -1.4em;
  padding-right: 0.4em;
}

/* ---------- end 自我介紹 ---------- */

/* ---------- 工作經歷輪播 ---------- */
.time-line{
  height: 780px;
}
.time-line h1{
  max-width: 100%;
  padding: 0 16px;
  font-size: 32px;
  text-align: center;
}
.time-line .dates-overflow{
  padding-bottom: 120px;
}

.controls {
  /* display: none; */
  left: 16px;
  bottom: 8%;
}
.controls.next{
  /* display: none; */
  right: 16px;
  bottom: 8%;
}
.controls:hover:after{
  transform: translateX(0px) rotate(45deg);
}

.time-line .dates-wrap .date .date-content {
  width: 340px;
  height: 470px;
}

.time-line .dates-wrap .date .date-content .date-text{
  font-size: 20px;
}
.time-line .dates-wrap .date .date-content .date-text:before{
  font-size: 22px;
}

/* ---------- 工作介紹 ---------- */

.time{
  font-size: 14px;
}

.work-title{
  font-size: 16px;
}
.description{
  font-size: 12px;
}

.description .link{
  font-size: 1em;
  margin-left: 0;
  margin: 16px 0;
}
.description .link a{
  margin: 8px 8px 0px 0px;
}

/* ---------- end 工作介紹 ---------- */


/* ---------- end 工作經歷輪播 ---------- */


}

