.slider-box{ display:flex; flex-direction:column; }

/* 輪播文字 */
.slider-nav{ width:100%;margin: 0 auto; }
.slider-nav .slick-slide{ cursor:pointer; text-align:center; font-size: 1.6em;  padding-top:16px;}

/* 輪播圖片 */
.slider-for{ width:48%; margin:0 auto;}
.slider-for .slick-list{ width:100%; margin:0 auto; border-radius: 16px;}

/* 輪播圖片 */
.slider-for-bn{ width:80%; margin:0 auto;}
.slider-for-bn .slick-list{ width:100%; margin:0 auto; border-radius: 16px;}



/* 圓點 線 */
.slick-dots li{ width:12px; height:12px; margin:0 10px;}
.slick-dots li button{ width:auto; height:auto; }
.slick-dots li button:before{ font-size:0; width:100%; height:100%; border-radius:50%; }
.slick-dots li button:before ,.slick-dots li.slick-active button:before{ opacity:1;}
.slick-dots li button:after{ content:''; display:block; width:42px; height:2px; position:absolute; right:3px; } 
.slick-dots li:nth-of-type(1) button:after{ display:none; }
.slick-dots li.slick-active ~ li button:before{ opacity:1; }





/* $iPad pro
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1365px){


/* 輪播圖片 */
.slider-for{ width:56%;}


}

/* $iPad
--------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px){



}


/* $Mobile
--------------------------------------------------------------------------------------*/
@media screen and (max-width:767px){


/* 輪播圖片 */
.slider-for{ width:100%;}
.slider-for .slick-list{ width: 64%;}

/* 輪播文字 */
.slider-nav .slick-slide{ font-size:1em;}



}




