@charset "utf-8";

/*------------------------------------------ Reset --------------------------------------------*/
*{box-sizing: border-box;position:relative;/*border: 1px solid #000;*/}
/*預設瀏覽器會有margin:10px要先歸零*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
ol,ul{list-style:none}
q:before,q:after{content:''}
abbr,acronym{border:0}
a{background:transparent;text-decoration:none;color:inherit;cursor:pointer;line-height:1em;display:inline-block}
a:active{outline:0}
input,textarea,button,select,option{border:0;margin:0;outline:none;padding:0;font-family:'Noto Sans TC','Open Sans','Arial','Microsoft JhengHei','Apple LiGothic Medium',sans-serif;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none}
select::-ms-expand{display:none}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}
img{width: 100%;height: auto;}
/* font */
:before ,:after{ font-family:'Font Awesome 5 Free','Linearicons-Free',"微軟正黑體";}

/* body,html */
html,body{position: relative; width: 100%; height: 100%; font-size:10px; letter-spacing: 1px; line-height: 1.5; color: #707070; font-family:"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif; text-align: justify; }

/* button reset */
button{ font-family:"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif; border: none; }

/* input reset */
input{ font-family:"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif; border: none; }

/* select reset */
select{ font-family:"微軟正黑體","新細明體","蘋果儷黑體", Arial, Helvetica, sans-serif; }


/* h1{ font-size: 4em;} */
h2{ font-size: 3.2em; padding-bottom:4px;}
h3{ font-size: 2.2em; padding-bottom:4px;}
h4{ font-size: 2em; padding-bottom:16px;}
h5{ font-size: 1.8em;}
/* h6{ font-size: 1.8em;} */
p{ font-size: 1.6em; padding-bottom:16px;}
ul{ list-style: none; margin: 0; padding: 0;}
a{ text-decoration: none;}


.web-hidden{ display: none; opacity: 0; visibility: hidden; }

/*-----------------------*\
          Layout
\*-----------------------*/

.container{ width: 100%; max-width: 1200px; margin: 0 auto; padding: 80px 0;}
.content{padding: 40px 0;}

.row{ display: flex; justify-content: space-between; }
.row-reverse{ flex-direction: row-reverse;}
.row-center{ display: flex; justify-content: center;}
.col-2,.col-3,.col-4{ position: relative; display: inline-block; box-sizing: border-box; padding: 40px 0;}
.col-2{ width: calc(100%/2 - 24px);}
.col-3{ width: calc(100%/3 - 24px);}
.col-4{ width: calc(100%/4 - 24px);}
.col-5{ width: calc(100%/5 - 24px);}
.col-6{ width: calc(100%/6);}
.text-center{ text-align: center;}

/* $Pc
--------------------------------------------------------------------------------------*/
/*----------*\
    header
\*----------*/
.hide{ transform: translate(0,-100%); }
header{
  position:fixed; 
  top:0; 
  left:0;
  z-index: 999; 
  transition: all .8s cubic-bezier(.23,1,.32,1); 
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.header-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  height: 80px;
}
.header-logo{
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  font-weight: bold;
  font-size: 1.6em;
}

nav{
  width: 30%;
  height: 80px;
  font-weight: 900;
}
nav ul{
  display: flex;
}
nav ul li{
  /* width: 100%;  */
  height: 80px;  
  display: flex;
  align-items: center;
}
nav ul li a{
  position: relative;
  text-align: center; 
  width: 100%; 
  color: #707070;
  padding: 8px 0;
  font-size: 1.6em;
  transition: ease-in-out 0.2s;
}
nav ul li a:hover{
  color: #bed1c6;
}


nav ul li:first-child a{
  border-left:0;
}

hr{
  border-left:1px solid #707070;
  border-top: 0;
  margin: auto;
  height: 24px;
}

.navCheck{ display:none; font-size:0; opacity:0; pointer-events:none; }

/*----------*\
  end header
\*----------*/




/* ---------- kv ---------- */
.mask{
  position: relative;
  width: 100%;
  background:url('../images/index_bg.jpg') top left no-repeat;
  background-size: cover;
  margin-top: 80px;
}
.kv{
  position: relative;
  background:url('../images/kv.jpg') top center no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  clip-path:circle(440px at center 520px);
}
    
.kv-title{
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 80px;
  font-weight: bold;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.1);
}
/* ---------- end kv ---------- */

/* ---------- for index ---------- */

.color{color:#bed1c6;}
.index .title{ display: inline-block; }
.index .title:after{content: ''; position: absolute; bottom: 8px; left: 50%; transform: translate(-50%, 0); width: 100%; height: 16px; background-color:#bed1c6; padding: 0 8px; z-index: -1;}
.index .work .link{text-align: left; font-size: 2em;}
.pic{width: 100%; max-width: 800px; margin: 0 auto; }
.pic .col-3{padding: 24px 0;}
.pic img{width: 100%; padding-bottom: 8px;}
.index .pic img{width: 60%; padding-bottom: 8px;}
.tool{width: 100%;  margin: 0 auto; }
.tool .col-6{padding: 24px 0; }
.tool img{width: 80%;padding-bottom: 8px;}
.index .link{text-align: left; font-size: 2em;margin-top: 16px;}
.link a{border: 2px solid #707070;  color:#707070;}
.link a:before{background-color: #fff;}
.link a:after{background-color: #fff;}

/* ---------- 自我介紹 ---------- */

.index .my-pic{
  width: 32%;
  padding-top: 40px;
  padding-right: 40px;
  
}
.index .my-pic:before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -4%;
  right: 6%;
  width: 88%;
  height: 88%;
  border-radius: 16px;
  background-color: #bed1c6;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.1);
}

.index .my-pic img{
  border-radius: 16px;
  box-shadow: 6px 6px 12px rgba(0,0,0,0.1);
}

.index .my-text{
  width: 64%;
  padding-top: 40px;
}
.index .my-text h5{
  color: #bed1c6;
}
.index .my-text ul{
  padding: 24px 0;
}
.index .my-text ul li{
  font-size: 1.6em;
  line-height: 1.6em;
  padding-left: 1.4em;
}
.index .my-text ul li:before{
  content: '\f0eb';
  color: #bed1c6;
  margin-left: -1.4em;
  padding-right: 0.4em;
}

.index .my-text .link a{
  border: 2px solid #bed1c6;  
  color:#bed1c6;
}



/* ---------- end 自我介紹 ---------- */

/* ---------- end for index ---------- */


/* ------------列表頁共用------------ */
.list-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box; 
}
.list-content .col-2{
  padding: 40px 0;

}
/* ------------end 列表頁共用------------ */


/*----------*\
    footer
\*----------*/
footer{ background-color: #707070;}
.copyright{
  text-align: center;
  font-size: 1em;
  padding: 16px 0;
  color: #fff;
}

/*----------*\
  end footer
\*----------*/

/* $ maxPC
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1920px){

  .kv-title{
    position: absolute;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
  }
}

/* $iPad pro
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1365px){

/*-----------------------*\
          Layout
\*-----------------------*/
.container{max-width: 900px;}
.content{padding: 24px 0;}
.col-2{ width: calc(100%/2 - 16px);}
.col-3{ width: calc(100%/3 - 16px);}
.col-4{ width: calc(100%/4 - 16px);}

/*-----------------------*\
        end  Layout
\*-----------------------*/
/*----------*\
    header
\*----------*/
.header-container{ max-width: 800px;}

.header-logo{font-size: 1.4em;}
nav ul li a{font-size: 1.4em; line-height: 1.2em;}

/*----------*\
  end header
\*----------*/

/* ---------- kv ---------- */
.mask{
    background: url('../images/index_bg.jpg') top center no-repeat;
    background-size: cover;
}
.kv {
    background: url('../images/kv.jpg') top center no-repeat;
    background-size: cover;
    clip-path: circle(440px at center 520px);
}
.kv-title {
    /* top: 22%; */
    /* left: 10%; */
    font-size: 100px;
}
/* ---------- end kv ---------- */


/* ---------- for index ---------- */

/* ---------- 自我介紹 ---------- */

.index .my-pic:before{
  bottom: 30%;
  right: 6%;
  width: 88%;
  height: 56%;
}
.pic img{ width: 70%; padding-bottom: 4px;}
.tool img{width: 80%;padding-bottom: 4px;}
.index .link{margin-top: 16px;}

/* ---------- end 自我介紹 ---------- */

/* ---------- end for index ---------- */



}

/* $iPad
--------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px){

/*-----------------------*\
          Layout
\*-----------------------*/
.container{max-width: 700px; padding: 80px 0;}
.content{padding: 24px 0;}
.row{flex-wrap: wrap;}
.col-2,.col-3,.col-4{ width: 100%; padding: 16px 0;}

/*-----------------------*\
        end  Layout
\*-----------------------*/
/*----------*\
    header
\*----------*/
.header-container{ max-width: 700px;}

.header-logo{font-size: 1.4em;}
nav ul li a{font-size: 1.4em; line-height: 1.2em;}

/*----------*\
  end header
\*----------*/

/* ---------- kv ---------- */
.mask{
    background: url('../images/index_bg.jpg') top center no-repeat;
    background-size: cover;
}
.kv {
    background: url('../images/kv.jpg') top center no-repeat;
    background-size: cover;
    clip-path: circle(320px at center 360px);
    height: 700px;
}
.kv-title {
    /* top: 22%; */
    /* left: 12%; */
    /* font-size: 140px; */
}
/* ---------- end kv ---------- */


/* ---------- for index ---------- */

/* ---------- 自我介紹 ---------- */
.index .my-pic{
  width: 40%;
  margin: 0 auto;
}

.index .my-pic:before{
  bottom: -5%;
  right: 8%;
  width: 82%;
  height: 80%;
}

.index .my-text{
  width: 100%;
}
.index .link{
  text-align: center;
  margin-top: 16px;
}
.pic .col-3{width: calc(100%/3);}
.pic img{ width: 60%; padding-bottom: 4px;}
.tool .col-4{width: calc(100%/4);}
.tool img{width: 70%;padding-bottom: 4px;}

/* ---------- end 自我介紹 ---------- */

/* ---------- end for index ---------- */


}


/* $Mobile
--------------------------------------------------------------------------------------*/
@media screen and (max-width:767px){

.mobile-hidden{ display: none; opacity: 0; visibility: hidden; }
.web-hidden{ display: block; opacity: 1; visibility: visible; }
/*-----------------------*\
          Layout
\*-----------------------*/
html,body{ width: 100%; font-size: 16px; -webkit-text-size-adjust:none; }
/* h1{ font-size: 2em;} */
h2{ font-size: 1.8em;}
h3{ font-size: 1.2em;padding-bottom: 4px;}
h4{ font-size: 1em; padding-bottom: 8px;}
h5{ font-size: 1em;}
/* h6{ font-size: 1em;} */
p{ font-size: 0.8em;}

.container{/*  width: auto; */ padding:0 16px;}
.content{padding: 24px 0;}
.row{flex-wrap: wrap;}

.col-2,.col-3,.col-4{ width: 100%; padding: 16px 0;}
/*-----------------------*\
        end  Layout
\*-----------------------*/
/*----------*\
    header
\*----------*/
.hide{ transform: none;}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 64px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.header-container{
  height: auto;
  padding: 0 16px;
}
.header-logo{
    height: auto;
    text-align: center;
    padding: 0;
    font-size: 1em;
}
nav{ 
  position:fixed; 
  top:0; 
  bottom:0; 
  right:0; 
  width: 100%;
  height:0; 
  overflow:hidden; 
  transition:height 1s; 
  transform:translateY(0); 
  background:#fff;
  margin-top: 64px; 
}
hr {
    border-top:1px solid #707070;
    border-left: 0;
    margin: 8px auto;
    width: 320px;
    height: 0;
  }
.mainMenu{ 
  min-height: 100%; 
  display:flex; 
  flex-direction:column; 
  justify-content:flex-start;
  padding: 40px 16px 0 16px;
  width: 100%;
  text-align: center; 
  background-color: #fff; 
  position: absolute; 
  left:0;
}
.mainMenu > li{ 
  height: 100%;
}
.mainMenu > li > a{ 
  width: 100%;
  margin: 0 auto;
  font-weight: 900;
  padding: 24px;
  border-left: 0;
  font-size: 1em;
} 

.mainMenu > li > a:after{ 
  content:''; 
  width:0; 
  height:2px; 
  background:rgba(0,0,0,0); 
  display:block; 
  transform:translateY(0px); 
  transition:all .6s;
}
.mainMenu > li:hover .subMenu{ 
  transition:all .4s cubic-bezier(.23,1,.32,1); 
  height:auto; 
}

.navToggle{ 
  width:32px;
}
.navToggle span ,.navToggle span:before ,.navToggle span:after{ 
  display:block; 
  width:100%; 
  background: #707070; 
  height:2px; 
  border-radius:2px; 
}
.navToggle span{ 
  position:relative; 
  top:50%; 
  transform:translateY(-50%);
}
.navToggle span:before ,.navToggle span:after{ 
  content:''; 
  position:absolute; 
}
.navToggle span:before{ 
  top:-8px; 
}
.navToggle span:after{ 
  bottom:-8px; 
}

.navToggle.navToggle01 span{ 
  transition:background .3s .6s;
}
.navToggle.navToggle01 span:before{ 
  transition:transform .1s .3s ,top .3s .7s;
}
.navToggle.navToggle01 span:after{ 
  transition:transform .1s .3s ,bottom .3s .7s;
}
.navCheck:checked ~ .navToggle.navToggle01 span{ 
  background:none; transition:background .3s .6s;
}
.navCheck:checked ~ .navToggle.navToggle01 span:before{ 
  top:0; transform:rotate(135deg); transition:top .2s .1s,transform .2s .6s;
}
.navCheck:checked ~ .navToggle.navToggle01 span:after{ 
  bottom:0; 
  transform:rotate(225deg); 
  transition:bottom .2s .1s,transform .2s .6s;
}
.navCheck:checked ~ nav{ 
  height:calc(100vh - 60px); 
  overflow:auto;
  width: 100%; 
  z-index: 999;
}

/*----------*\
  end header
\*----------*/


/* ---------- kv ---------- */
.mask{
    background: url('../images/index_bg.jpg') top center no-repeat;
    background-size: cover;
    margin-top: 64px;
}
.kv {
    background: url('../images/kv.jpg') top center no-repeat;
    background-size: cover;
    clip-path: circle(160px at center 220px);
    height: 400px;
}

.kv-title {
    top: 24%;
    /* left: 12%; */
    font-size: 32px;
}

.index .title{
  margin-top: 64px;
  font-size: 1.4em;
}
.index .title:after{
  height: 12px;
  bottom: 4px;
}

/* ---------- end kv ---------- */

/* ---------- for index ---------- */

.index h2{font-size: 1.2em;}
.index h4{font-size: 1.4em;}


.index .work .link{font-size: 1em; margin: -24px 0 0 0;}
.pic .col-3{width: calc(100%/3);}
.pic img{ width: 80%; padding-bottom: 4px;}
.tool .col-4{width: calc(100%/4);}
.tool img{width: 70%;padding-bottom: 4px;}


.link a{border: 1px solid #707070;  color:#707070;}
.link a:before{background-color: #fff;}
.link a:after{background-color: #fff;}



/* ---------- 自我介紹 ---------- */
.index .my-pic{
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 20px;
}
.index .my-pic:before{
  bottom: -5%;
  right: 0%;
  width: 92%;
  height: 88%;
}

.index .my-text{
  width: 100%;
}
.index .my-text ul{
  padding: 16px 0;
}
.index .my-text ul li{
  font-size: 0.8em;
  line-height: 1.5em;
}

.index .link{
  font-size: 1em; 
  margin: 8px 0 0 0;
  text-align: center;
}
.tool .col-6{
  width: calc(100%/3);
  padding: 8px 0;
}
.tool img{
  width: 50%;
}

/* ---------- end 自我介紹 ---------- */
    
/* ---------- end for index ---------- */


/*----------*\
    footer
\*----------*/

.copyright{
  font-size: 12px;
}

/*----------*\
  end footer
\*----------*/





}







